<div class="mybox" >
<h3 class="my" >了解更多久哈利之窗</h3>
  <p class="pl" >
    <a href="http://zh.wikipedia.org/wiki/Johari%E7%AA%97">Johari窗 在维基百科中的解释</a>
  </p>
  <p class="pl" >
    <a href="http://kevan.org/johari">另一个创建Johari窗的网站</a>
  </p>
</div>