

<div class="mybody_cont">
	<div class="mybody_left">
		<%= render(:partial => "/surveys/form", :locals => { :survey_self => true }) %>
	</div>
	<div class="mybody_right">
		<%= render(:partial => "/users/friends" ) %>
	</div>
</div>